In [27]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [105]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
DB_NAME = "Tes"
DB_USER = "postgres"
DB_PASSWORD = "123"
DB_HOST = "localhost"
DB_PORT = "5432"

# Create SQLAlchemy engine
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")
query = """
SELECT ho.user_id, ho.employee_name, hj.position_name
FROM hr_position_assignment AS h
JOIN hr_employee AS ho ON h.employee_id = ho.employee_id
JOIN hr_job_position AS hj ON h.position_id = hj.position_id;
"""

df = pd.read_sql(query, engine)

In [107]:
from IPython.display import display, HTML
display(HTML(df.to_html()))

In [53]:
pd.read_sql("select * from timesheet_timesheet", engine)

,timesheet_id,user_id,project_id,description,start_time,end_time,duration,timesheet_date,timesheet_location,timesheet_type,timesheet_status,created
0,17001,147,300,-,00:30:00,00:30:00,16:00:00,2024-08-31,Menara Palma,regular,approved,2024-09-27
1,17002,147,865,-,00:30:00,00:30:00,17:00:00,2024-08-31,Menara Palma,regular,approved,2024-09-27
2,17003,147,553,-,00:30:00,00:30:00,10:00:00,2024-08-31,Menara Palma,regular,approved,2024-09-27
3,17004,147,340,-,00:30:00,00:30:00,10:00:00,2024-08-31,Menara Palma,regular,approved,2024-09-27
4,17005,147,340,-,00:30:00,00:30:00,22:00:00,2024-08-31,Menara Palma,regular,approved,2024-09-27
...,...,...,...,...,...,...,...,...,...,...,...,...
28016,46002,223,1045,"Update Lead Piutang Lain-Lain, Update Vouching...",09:00:00,22:50:00,05:00:00,2025-02-26,Vasaka Hotel (WSBP),regular,pending,2025-03-04
28017,46003,223,1141,"Update Lead Revenue, Update vouching dan dokum...",09:00:00,23:50:00,04:00:00,2025-02-27,Vasaka Hotel (WSBP),regular,pending,2025-03-04
28018,46004,223,1045,"Discuss NCP WSBP, Rekon PBC List dan data Masu...",09:00:00,23:50:00,05:00:00,2025-02-27,Vasaka Hotel (WSBP),regular,pending,2025-03-04
28019,46005,223,1141,"Update Lead Inventory, Vouching inventory In, ...",09:00:00,21:00:00,04:00:00,2025-02-28,Vasaka Hotel (WSBP),regular,pending,2025-03-04
28020,46006,223,1113,Update report IDR McMOL,09:00:00,21:00:00,04:00:00,2025-02-28,Menara Palma,regular,pending,2025-03-04

In [63]:
pd.read_sql("select * from project_project", engine)

,project_id,project_number,project_name,project_description,project_type,client_id,fee_currency,wip_currency
0,3,01-1137,Audit 31 Desember 2021,Audit,billable,111,IDR,IDR
1,4,Office-05,Coaching and Development | Parker Randall,Other,nonbillable,504,IDR,IDR
2,5,04-0792,Financial due diligence,Other,billable,319,IDR,IDR
3,6,02-1629,Implementasi PSAK 71 dan Quartal per 1 Jan - ...,IFRS,billable,23,IDR,IDR
4,7,04-0785,AUP (penerimaan dan pengeluaran kas selama per...,Other,billable,315,IDR,IDR
...,...,...,...,...,...,...,...,...
1277,1281,01-1900,Audit 31 Desember 2024,Audit,billable,256,IDR,IDR
1278,1282,05-2021,KPPK 31 Des 2024 Wilmar Grup,KPPK,billable,336,IDR,IDR
1279,1283,02-2022,Implementasi PSAK 109 Maret 2025 dan Fair Valu...,IFRS,billable,43,IDR,IDR
1280,1284,05-2023,KPPK 31 Desember 2024 PT JGC,KPPK,billable,71,IDR,IDR
1281,1285,01-2024,Audit 31 Desember 2022,Audit,billable,659,IDR,IDR

In [65]:
pd.read_sql("select * from client_client", engine)

,client_id,client_type,client_name,address,country,region,zipcode,phone,mobile,email,website,tags
0,1,Company,PT Trakindo Utama,None,None,None,None,None,None,None,None,None
1,2,Company,PT Parsaoran Global Datatrans (HSPnet),None,None,None,None,None,None,None,None,None
2,3,Company,PT Aida Indonesia,None,None,None,None,None,None,None,None,None
3,4,Company,PT Super Sukses Motor,None,None,None,None,None,None,None,None,None
4,5,Company,PT Super Sukses Niaga,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
654,655,Company,PT Bank DKI,None,None,None,None,None,None,None,None,None
655,656,Company,PT Taawun Indonesia Sejahtera,None,None,None,None,None,None,None,None,None
656,657,Company,KSO Waskita - BRP JV,None,None,None,None,None,None,None,None,None
657,658,Company,PT Multi Mineral Trading,None,None,None,None,None,None,None,None,None
658,659,Company,PT Komunika Jaya Nusantara,None,None,None,None,None,None,None,None,None

SELECT ho.user_id, ho.employee_name, hj.position_name
FROM hr_position_assignment AS h
JOIN hr_employee AS ho ON h.employee_id = ho.employee_id
JOIN hr_job_position AS hj ON h.position_id = hj.position_id;

In [121]:
query2 = """
SELECT ho.employee_name, hj.position_name , tt.created, cc.client_name
FROM project_project AS pp
JOIN timesheet_timesheet AS tt ON pp.project_id = tt.project_id
JOIN client_client AS cc on pp.client_id = cc.client_id
JOIN hr_employee AS ho ON tt.user_id = ho.user_id
JOIN hr_position_assignment AS h ON h.employee_id = ho.employee_id
JOIN hr_job_position AS hj ON h.position_id = hj.position_id
ORDER BY tt.created;
"""

In [123]:
#display(HTML(pd.read_sql(query2, engine).to_html()))
pd.read_sql(query2, engine)

,employee_name,position_name,created,client_name
0,Zana Eksantia Maharani,Senior 3,2024-08-01,Parker Randall
1,Hana Maghfira,Project Basis,2024-08-01,Parker Randall
2,Zana Eksantia Maharani,Senior 3,2024-08-01,Parker Randall
3,Muhamad Raihan Albairuny,Probation,2024-08-01,PT LEN Industri (Persero)
4,Aulia Ikhsan,Senior 1,2024-08-02,PT LEN Industri (Persero)
...,...,...,...,...
28015,Tiffany Clarissa Widiono,Senior 3,2025-03-04,PT Waskita Sriwijaya Tol
28016,Lorenza Monica Effendy,Senior 3,2025-03-04,PT Phapros Tbk
28017,Lorenza Monica Effendy,Senior 3,2025-03-04,PT Phapros Tbk
28018,Lorenza Monica Effendy,Senior 3,2025-03-04,PT Phapros Tbk
28019,Lorenza Monica Effendy,Senior 3,2025-03-04,PT Phapros Tbk

In [174]:
df1 = pd.read_sql(query2, engine)

In [239]:
#df1.to_csv('tes.csv')

In [178]:
df1['created'] = pd.to_datetime(df1['created'])
df1['month'] = df1['created'].dt.strftime('%B')

In [180]:
# Define a function to categorize weeks
def categorize_week(date):
    day = date.day
    if day <= 7:
        return "Week 1"
    elif day <= 14:
        return "Week 2"
    elif day <= 21:
        return "Week 3"
    else:
        return "Week 4"

df1['week'] = df1['created'].apply(categorize_week)
df1.head()

,employee_name,position_name,created,client_name,month,week
0,Zana Eksantia Maharani,Senior 3,2024-08-01,Parker Randall,August,Week 1
1,Hana Maghfira,Project Basis,2024-08-01,Parker Randall,August,Week 1
2,Zana Eksantia Maharani,Senior 3,2024-08-01,Parker Randall,August,Week 1
3,Muhamad Raihan Albairuny,Probation,2024-08-01,PT LEN Industri (Persero),August,Week 1
4,Aulia Ikhsan,Senior 1,2024-08-02,PT LEN Industri (Persero),August,Week 1

In [194]:
df1.isna().sum()

employee_name    0
position_name    0
created          0
client_name      0
month            0
week             0
dtype: int64

In [224]:
df_pivot = df1.pivot_table(
    index=['employee_name', 'position_name', 'month'],
    columns='week',
    values='client_name',
    aggfunc=lambda x: ', '.join(x.unique())
).reset_index()

In [228]:
df_pivot.fillna('-',inplace=True)

In [230]:
df_pivot

week,employee_name,position_name,month,Week 1,Week 2,Week 3,Week 4
0,Achmad Nur Huda,Associate,December,-,-,"PT Patra Jasa, Parker Randall, Koperasi Produs...",PT Patra Jasa
1,Achmad Nur Huda,Associate,February,"PT Diva Perdana Pesona, PT Telaga Mas Kalimantan","PT Telaga Mas Kalimantan, PT Rajawali Otomotif...","PT Telaga Mas Kalimantan, PT Prima Cipta Selar...","PT Patra Jasa, PT Rajawali Otomotif Tirta Inte..."
2,Achmad Nur Huda,Associate,January,-,-,"PT Prima Cipta Selaras, Parker Randall, PT Pat...",-
3,Achmad Nur Huda,Associate,March,PT Patra Jasa,-,-,-
4,Achmad Nur Huda,Associate,October,"PT Danareksa Capital, Perusahaan Umum Pembangu...",-,-,"PT Semen Indonesia (Persero) Tbk, Parker Randa..."
...,...,...,...,...,...,...,...
974,Zhilal Khulaifi Mustofa,Associate,January,-,"PT Waskita Fim Perkasa Realti, Parker Randall,...","PT Patra Jasa, PT Waskita Karya Realti, PT Saw...",-
975,Zhilal Khulaifi Mustofa,Associate,March,"PT Waskita Karya Realti, PT Sawit Sukses Sejah...",-,-,-
976,Zhilal Khulaifi Mustofa,Associate,November,PT Waskita Karya Realti,-,-,-
977,Zhilal Khulaifi Mustofa,Associate,October,"Parker Randall, PT Patra Jasa, PT LEN Industri...",-,"PT Sawit Sukses Sejahtera , Parker Randall, PT...","PT Patra Jasa, Parker Randall"
978,Zhilal Khulaifi Mustofa,Associate,September,-,-,-,"Parker Randall, PT LEN Industri (Persero), PT ..."

In [ ]:
# Kalo mau sort by month
# month_order = [
#     "January", "February", "March", "April", "May", "June",
#     "July", "August", "September", "October", "November", "December"
# ]
# df_pivot_sorted['month'] = pd.Categorical(df_pivot_sorted['month'], categories=month_order, ordered=True)
# df_pivot_sorted = df_pivot_sorted.sort_values(by=['month', 'week', 'client_name'])

## Fullcode

In [233]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
DB_NAME = "Tes"
DB_USER = "postgres"
DB_PASSWORD = "123"
DB_HOST = "localhost"
DB_PORT = "5432"

# Create SQLAlchemy engine
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")
query = """
SELECT ho.employee_name, hj.position_name , tt.created, cc.client_name
FROM project_project AS pp
JOIN timesheet_timesheet AS tt ON pp.project_id = tt.project_id
JOIN client_client AS cc on pp.client_id = cc.client_id
JOIN hr_employee AS ho ON tt.user_id = ho.user_id
JOIN hr_position_assignment AS h ON h.employee_id = ho.employee_id
JOIN hr_job_position AS hj ON h.position_id = hj.position_id
ORDER BY tt.created;
"""
df = pd.read_sql(query, engine)
df['created'] = pd.to_datetime(df['created'])
df['month'] = df['created'].dt.strftime('%B')

def categorize_week(date):
    day = date.day
    if day <= 7:
        return "Week 1"
    elif day <= 14:
        return "Week 2"
    elif day <= 21:
        return "Week 3"
    else:
        return "Week 4"

df['week'] = df['created'].apply(categorize_week)

df_pivot = df.pivot_table(
    index=['employee_name', 'position_name', 'month'],
    columns='week',
    values='client_name',
    aggfunc=lambda x: ', '.join(x.unique())
).reset_index()
df_pivot.fillna('-',inplace=True)

df_pivot

week,employee_name,position_name,month,Week 1,Week 2,Week 3,Week 4
0,Achmad Nur Huda,Associate,December,-,-,"PT Patra Jasa, Parker Randall, Koperasi Produs...",PT Patra Jasa
1,Achmad Nur Huda,Associate,February,"PT Diva Perdana Pesona, PT Telaga Mas Kalimantan","PT Telaga Mas Kalimantan, PT Rajawali Otomotif...","PT Telaga Mas Kalimantan, PT Prima Cipta Selar...","PT Patra Jasa, PT Rajawali Otomotif Tirta Inte..."
2,Achmad Nur Huda,Associate,January,-,-,"PT Prima Cipta Selaras, Parker Randall, PT Pat...",-
3,Achmad Nur Huda,Associate,March,PT Patra Jasa,-,-,-
4,Achmad Nur Huda,Associate,October,"PT Danareksa Capital, Perusahaan Umum Pembangu...",-,-,"PT Semen Indonesia (Persero) Tbk, Parker Randa..."
...,...,...,...,...,...,...,...
974,Zhilal Khulaifi Mustofa,Associate,January,-,"PT Waskita Fim Perkasa Realti, Parker Randall,...","PT Patra Jasa, PT Waskita Karya Realti, PT Saw...",-
975,Zhilal Khulaifi Mustofa,Associate,March,"PT Waskita Karya Realti, PT Sawit Sukses Sejah...",-,-,-
976,Zhilal Khulaifi Mustofa,Associate,November,PT Waskita Karya Realti,-,-,-
977,Zhilal Khulaifi Mustofa,Associate,October,"Parker Randall, PT Patra Jasa, PT LEN Industri...",-,"PT Sawit Sukses Sejahtera , Parker Randall, PT...","PT Patra Jasa, Parker Randall"
978,Zhilal Khulaifi Mustofa,Associate,September,-,-,-,"Parker Randall, PT LEN Industri (Persero), PT ..."

In [235]:
# df_pivot.to_csv('tes.csv')